/* div{
  border: solid 2px black ;
} */


pre {
  background-color: #f4f4f4; 
  padding: 15px; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  white-space: pre-wrap; 
  max-width: 100%; 
  overflow: auto; 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 14px; 
  line-height: 1.5; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: #333; 
  position: relative; 
}

.tag {
  color: #1f1740;
  font-weight: bold;
}

.class-name {
  color: #a152f9; 
  font-style: italic; 
}

.button_copy {
  background-color: #a152f9;
  color: white;
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px; 
  cursor: pointer; 
  font-size: 14px; 
  position: absolute; 
  top: 10px;
  right: 10px; 
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #1f1740; 
}

.position-shape {
    width: 50px;
    height: 50px; 
    background-color:#a152f9; 
    border: 1px solid black; 
  } 

  .box {
    background-color: #a152f9;
    border: 1px solid white;
    padding: 0;  /* Removed padding */
    margin: 0;   /* Removed margin */
    min-height: 50px;
    flex-grow: 1;  /* Stretch the items to cover full width */
    box-sizing: border-box;
}


.sp-text-gray-2{
color: #b6b3b3;
}
